<div class="page-header thumbnail">
  <h1>Welcome&nbsp;<small>&nbsp;to Power of three</small>  </h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <button data-difficulty="4" class="start_game btn btn-default" type="button">Play EASY MODE 4x4x4 Arena</button>

        <button data-difficulty="3" class="start_game btn btn-primary" type="button" >Play NORMAL MODE 3x3x3 Arena</button>

        <!--button data-difficulty="2" class="start_game btn btn-danger" type="button" >Play HARD MODE 2x2x2 Arena</button-->
    </div>
</div>